//@import 'fonts';

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0f1a1a;
  color: gainsboro;
}